<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create a new Location</title>

  <style type="text/css">
    .inputField {
      width: 100%;
    }

    .inputLabel {
      width: 200px;
    }

    .headline {
      width: 100%;
    }

  </style>
</head>
<body>

<div>
  <form action="createLocation" method="POST">

    <div class="headline">
      <h1>General Information</h1>
    </div>

    <div class="inputField">
      <div class="inputLabel">Trip-ID:</div>
      <div class="inputValue">
        <input type="text" name="id">
      </div>
    </div>

    <div class="inputField">
      <div class="inputLabel">Location Name:</div>
      <div class="inputValue">
        <input type="text" name="name">
      </div>
    </div>

    <div class="inputField">
      <div class="inputLabel">Description:</div>
      <div class="inputValue">
        <input type="text" name="description">
      </div>
    </div>

    <div class="inputField">
      <div class="inputLabel">Coordinates:</div>
      <div class="inputValue">
        <input type="text" name="coordinates">
      </div>
    </div>

    <div class="inputField">
      <div class="inputLabel">Priority:</div>
      <div class="inputValue">
        <input type="text" name="priority">
      </div>
    </div>

    <div class="inputField">
      <div class="inputLabel">Priority:</div>
      <div class="inputValue">
        <input name="Datei" type="file" size="50" accept="image/jpeg">
      </div>
    </div>

  </form>
</div>

</body>
</html>