<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create a new Trip</title>

  <style type="text/css">
    .inputField {
      width: 100%;
    }

    .inputLabel {
      width: 200px;
    }

    .headline {
      width: 100%;
    }

  </style>
</head>
<body>

<div>
  <form action="createTrip" method="POST">

    <div class="headline">
      <h1>General Information</h1>
    </div>

    <div class="inputField">
      <div class="inputLabel">Land:</div>
      <div class="inputValue">
        <input type="text" name="country">
      </div>
    </div>

    <div class="inputField">
      <div class="inputLabel">Startdate:</div>
      <div class="inputValue">
        <input type="date" name="startdate">
      </div>
    </div>

    <div class="inputField">
      <div class="inputLabel">Enddate:</div>
      <div class="inputValue">
        <input type="date" name="enddate">
      </div>
    </div>

  </form>
</div>

</body>
</html>